.title {
    text-align: center;
}

.meow_form {
    width: 25%;
    margin: 0 auto;

}

#body{
    background-color:rgb(215, 241, 253);
}
#h1{
    background-color:rgb(255, 255, 255);
}